body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  flex-direction: column;
  justify-content: stretch;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  min-height: 60vh;
  margin: 50px 150px;
  justify-content: center;
  text-align: center;
}

/* Navbar Styling */

.navbar-container {
  padding: 10px;
}

/* Card Styling */

.posts-container {
  display: grid;
  margin-top: 50px;
  gap: 2rem;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.post-card {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.post-date {
  font-weight: lighter;
  margin-bottom: 15px;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.new-post-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.postCredit {
  font-size: 1rem;
}

.postCredit a, 
.postCredit a:visited {
  margin-right: 0.5rem;
  color: black;
}

.postCredit a:hover, 
.postCredit a:focus {
  color: hsla(0, 0%, 0%, 0.75);
}


@media (max-width: 961px) {
  .posts-container {
    grid-template-columns: repeat(1, 1fr)
  }
}

@media (min-width: 961px) {
  .posts-container {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media (min-width: 1080px) {
  .posts-container {
    grid-template-columns: repeat(3, 1fr)
  }
}

/* Footer Styling */

.bottom-container {
  left:0px;
  bottom:0px;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.bottom-container .social_icon,
.bottom-container .copyright,
.bottom-container .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.bottom-container .social_icon li,
.bottom-container .copyright li,
.bottom-container .menu li {
  list-style: none;
}
.bottom-container .social_icon li a {
  font-size: 2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.bottom-container .social_icon li a:hover {
  transform: translateY(-15px);
  color: blue;
}

.bottom-container .menu li a {
  font-size: 1.2em;
  color: #ccc;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}

.bottom-container .menu li a:hover {
  opacity: 1;
  color: #fff;
}

/* Additional CSS */

.excerpt {
  font-style: italic;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  color: #000;
  font-size: 1rem;
}
